@import "../../../constants.css";

.container {
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  height: var(--bottomOfTopNav)
}