@import "../../../shared/colors.css";
@import "../../../shared/common.css";

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  background: var(--clearBlue);
  left: 0;
  right: 0;
  z-index: 999;
}

.form-input {
  width: 20%;
  margin: .75rem 0 .75rem 1rem;
}

.form-saving {
  opacity: 0.25; 
  cursor: not-allowed;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0 3rem 0 1rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.load-spinner {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: .25rem solid var(--black);
  border-top-color: white;
  animation: spin 1s infinite linear;
  margin: 0 auto;
}