# Git
.git
.gitignore

# build assets
build
.happypack

# Docker
Dockerfile
Makefile
docker-compose.yml

# Node
node_modules

# Other
.editorconfig
.ebextensions
logging.conf

# sequelize migration env config
config/config.json