files:
    "/etc/filebeat/filebeat.yml":
        mode: "000755"
        owner: root
        group: root
        content: |
            filebeat:
                prospectors:
                -   paths:
                    - /var/log/eb-docker/containers/eb-current-app/*-stdouterr.log
                    fields:
                        logzio_codec: json
                        token: TKN
                        type: elasticsearch
                        environment: ENV
                    fields_under_root: true
                    encoding: utf-8
                    ignore_older: 3h
                registry_file: /var/lib/filebeat/registry
            output:
                # Elasticsearch as output
                logstash:
                    hosts: ["listener.logz.io:5015"]
                    ssl:
                        certificate_authorities: ['/etc/pki/tls/certs/COMODORSADomainValidationSecureServerCA.crt']
 
container_commands:
 1_command:
    command: "curl -L -O https://artifacts.elastic.co/downloads/beats/filebeat/filebeat-5.0.1-x86_64.rpm"
    cwd: /home/ec2-user
 2_command:
    command: "rpm -ivh --replacepkgs filebeat-5.0.1-x86_64.rpm"
    cwd: /home/ec2-user
 3_command:
    command: "mkdir -p /etc/pki/tls/certs"
    cwd: /home/ec2-user
 4_command:
    command: "wget https://raw.githubusercontent.com/logzio/public-certificates/master/COMODORSADomainValidationSecureServerCA.crt"
    cwd: /etc/pki/tls/certs
 5_command:
    command: "sed -i 's/TKN/'${LOGZIO_TOKEN}'/g' /etc/filebeat/filebeat.yml"
 6_command:
    command: "sed -i 's/ENV/'${ENV}'/g' /etc/filebeat/filebeat.yml"
 7_command:
    command: "/etc/init.d/filebeat stop"
 8_command:
    command: "/etc/init.d/filebeat start"