@import "../../shared/colors.css";
@import "../../shared/common.css";

.container {
  display: flex;
  flex-direction: column;
  margin-top: 5.5rem;
}

.form-input {
  width: 20%;
  margin: 0.75rem auto;
}

.form-saving {
  opacity: 0.25; 
  cursor: not-allowed;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.load-spinner {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: .25rem solid var(--black);
  border-top-color: white;
  animation: spin 1s infinite linear;
  margin: 0 auto;
}