:root {
  --clearRed: rgba(246,81,29, 0.5);
  --clearBlue: rgba(0,138,206,0.5);
  --clearGreen: rgba(151,204,4,0.5);
  --clearOrange: rgba(226,132,19,0.5);
  --black: rgb(31,39,27);
  --white: #FDFFFC;
}