.container {
  text-align: center;
}

.canvas-container {
  position: relative;

}

.label {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  animation: maskFadein .2s;
  z-index: 9999
}

.play-button {
  position: absolute;
  top: 20%;
  width: 100%;
  text-align: center;
  font-size: 3.5rem;
  color: #000000;
  opacity: .5;
  background-color: #34fe10;
  -webkit-user-select: none; /* Chrome, Opera, Safari */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
  cursor: pointer;
}

.loading-button {
  position: absolute;
  top: 20%;
  width: 100%;
  text-align: center;
  font-size: 3.5rem;
  color: #000000;
  opacity: .5;
  background-color: #f53838;
  -webkit-user-select: none; /* Chrome, Opera, Safari */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
  cursor: not-allowed;
}

.contribute-button {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  font-size: 3.5rem;
  opacity: .5;
  background-color: #008ace;
  color: #000000;
  -webkit-user-select: none; /* Chrome, Opera, Safari */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
  cursor: pointer;
}