@import "../../../colors.css";
@import "../../../common.css";

.container {
  text-align: center;
}

.canvas-container {
  position: relative;

}

.loading {
  background-color: var(--clearRed);
  cursor: not-allowed;
}

.error {
  background-color: var(--clearOrange);
}

.center-button {
  top: 35%;
  bottom: 35%
}

.start-time {
  position: absolute;
  left: 0;
  margin: 1rem;
}

.end-time {
  position: absolute;
  right: 0;
  margin: 1rem;
}

.contribute {
  background-color: var(--clearBlue);
}

.bottom-button {
  top: 75%;
  bottom: 5%;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
}