@import "../../../constants.css";

.container {
  position: fixed;
  top: 100%;
}

.button {
  border: 2px solid #696969;
  background-color: white;
  cursor: pointer;
  z-index: 1;
  height: 4rem;
  width: 4rem;
  margin: 0;
  user-select: none;
}

.top-left {
  position: fixed;
  top: 0;
}

.top-center {
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.top-right {
  position: fixed;
  top: 0;
  right: 0;
}

.bottom-left {
  position: fixed;
  bottom: 0;
}

.bottom-center {
  margin: 0 auto;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.bottom-right {
  position: fixed;
  bottom: 0;
  right: 0;
}

.icon {
  margin: .5rem;
}

.add-icon {
  margin: .5rem;
  margin-left: .45rem;
  margin-top: .4rem;
}

.stop-icon {
  margin: .05rem;
}

.back-icon {
  margin: .4rem;
}

.play-icon {
  margin: .05rem;
  margin-left: -.05rem;
}