@import "../../../constants.css";

.container {
  position: fixed;
  top: 100%;
}

.button {
  background-color: white;
  cursor: pointer;
  z-index: 1;
  height: 5rem;
  width: 5rem;
  margin: .75rem;
  box-shadow: 0 2px 1px #333;
  user-select: none;
}

.left {
  position: fixed;
  bottom: 0;
}

.center {
  margin: .75rem auto;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.right {
  position: fixed;
  bottom: 0;
  right: 0;
}

.icon {
  margin: .95rem;
}

.play-icon {
  margin: .5rem;
}