@import "../../../styles/constants.css";
@import "../../../styles/colors.css";

.container {
  position: fixed;
  top: 100%;
}

.button-container {
  border: 2px solid var(--white);
  cursor: pointer;
  z-index: 1;
  height: 4rem;
  width: 4rem;
  margin: 0;
  user-select: none;
}

.button {
  width: 100%;
  height: 100%;
  margin: 0;
}

.top-left {
  position: fixed;
  top: 0;
}

.top-center {
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.top-right {
  position: fixed;
  top: 0;
  right: 0;
}

.bottom-left {
  position: fixed;
  bottom: 0;
}

.bottom-center {
  margin: 0 auto;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.bottom-right {
  position: fixed;
  bottom: 0;
  right: 0;
}

.icon {
  margin: .5rem;
}

.add-icon {
  margin: .5rem;
  margin-left: .45rem;
  margin-top: .4rem;
}

.edit-icon {
  margin-left: .8rem;
  margin-top: .7rem;
}

.stop-icon {
  margin: .05rem;
}

.back-icon {
  margin: .4rem;
}

.play-icon {
  margin: .05rem;
  margin-left: -.05rem;
}

.green-button {
  background-color: var(--green);
}

.red-button {
  background-color: var(--red);
}

.blue-button {
  background-color: var(--blue);
}

.orange-button {
  background-color: var(--orange);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.load-spinner {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: .25rem solid var(--red);
  border-top-color: var(--white);
  animation: spin 1s infinite linear;
  margin: .9rem auto 0;
}