@import "../../../shared/constants.css";

.label {
  position: absolute;
  top: 20%;
  width: 100%;
  text-align: center;
  font-size: 3.5rem;
  color: var(--black);
  user-select: none;
}

.canvas {
  position: fixed;
  top: var(--bottomOfTopNav);
  left: 0;
  animation: fadein .5s;
  z-index: -1;
}

.play-button {
  height: 100%;
  position: fixed;
  top: 7%;
  left: 20%;
  right: 20%;
  background: rgba(1,1,1,.05);
}