@import "../../../shared/colors.css";

.label {
  position: absolute;
  top: 20%;
  width: 100%;
  text-align: center;
  font-size: 3.5rem;
  color: var(--black);
  user-select: none;
}

.canvas {
  position: fixed;
  top: 0;
  left: 0;
  animation: fadein .5s;
  z-index: -1;
  left: 15%;
  right: 15%;
}

.slider-left {
  height: 100%;
  position: fixed !important;
  top: 0;
  left: 0;
  right: 80%;
}

.slider-right {
  height: 100%;
  position: fixed !important;
  top: 0;
  right: 0;
  left: 80%;
  display: flex;
  justify-content: flex-end;
}

.handle {
  line-height: 0;
  animation: pulse 0.75s infinite;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.1, 0.5, .7, 1);
  width: 100%;
  height: 32px;
  height: 2rem;
}

.left-handle {
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
}

.right-handle {
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
}

.canvas-mask {
  left: 15%;
  right: 15%;
  position: fixed;
  background-color: rgba(1,1,1,.05);
}

@keyframes pulse {
  0% {
    background-color: #fff;
  }
  100% {
    background-color: #888;
  }
}