@import "../../../shared/styles/colors.css";
@import "../../../shared/styles/constants.css";
@import "../../../shared/styles/breakpoints.css";

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  background: color(var(--blue) alpha(75%));
  position: fixed !important;
  top: calc(4rem + 2px);
  bottom: calc(4rem + 2px);
  left: calc(4rem + 2px);
  right: calc(4rem + 2px);
  z-index: 999;
}

.pitchshift-container {
  background: color(var(--yellow) alpha(50%));
}

.chorus-container {
  background: color(var(--pink) alpha(50%));
}

.reverb-container {
  background: color(var(--green) alpha(50%));
}

.distortion-container {
  background: color(var(--red) alpha(50%));
}

.menu {
  display: flex;
  flex-direction: column;
}

.effects-item {
  height: 5rem;
}

.pitchshift {
  background-color: color(var(--yellow) alpha(50%));
}

.chorus {
  background-color: color(var(--pink) alpha(50%));
}

.reverb {
  background-color: color(var(--green) alpha(50%));
}

.distortion {
  background-color: color(var(--red) alpha(50%));
}

.loops-slider {
  width: 100%;
}

.vertical-slider {
  position: fixed !important;
  top: calc(4rem + 2px);
  bottom: calc(4rem + 2px);
  left: calc(50% - (var(--navBarButtonSideLength) / 2));
  background: color(var(--blue) alpha(75%));
  width: var(--navBarButtonSideLength);
}

.loops-slider-handle {
  background-color: var(--red);
  border: 1px solid var(--white);
  cursor: pointer;
  z-index: 99999;
  height: var(--navBarButtonSideLength);
  width: var(--navBarButtonSideLength);
  user-select: none;
  margin: 0;
}

.selected:before {
  content: "»";
  margin-right: 6px;
}

@media (--small-viewport) {
  .effects-item {
    font-size: 1.5rem;
  }
}