@import "../../../styles/colors.css";
@import "../../../styles/breakpoints.css";
@import "../../../styles/constants.css";

.playback-indicator {
  position: absolute;
  top: 0;
  left: 0;
}

.card {
  color: var(--black);
  cursor: pointer;
  margin: 0 auto var(--buttonOutlineThickness);
  padding: 0;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.card-container {
  height: 4rem;
}

.name {
  font-size: 50%;
  text-align: end;
  background: none;
  position: relative;
  right: 0;
  top: -1.7rem;
  height: 0;
  color: color( var(--black) whiteness(75%))
}

.listened-name {
  color: var(--white);
  top: 2rem;
  font-size: 65%;
  text-align: end;
  background: none;
  position: relative;
  right: 0;
  height: 0;
}

.listened-card {
  width: 100%;
  height: 4rem;
  position: absolute;
  background: var(--black);
  opacity: 0;
  color: var(--white);
  font-size: 2.5rem;
  text-align: left;
}

.selected {
  height: 7rem;
}

.selected .name {
  text-align: left;
  transform: translateX(9rem) translateY(-1.5rem) scale(1.8);
  color: var(--black);
  top: -.5rem;
  font-size: 1rem;
}

.invisible {
  opacity: 0;
}

.visible {
  opacity: .25;
}

@media (--medium-or-larger-viewport) {
  .selected .name {
    transform: translateX(0rem) translateY(-3.5rem);
    font-size: 4rem;
  }
}

.red-base {
  background-color: color(var(--red) alpha(25%));
}
.blue-base {
  background-color: color(var(--blue) alpha(25%));
}
.green-base {
  background-color: color(var(--green) alpha(25%));
}
.orange-base {
  background-color: color(var(--orange) alpha(25%));
}
.yellow-base {
  background-color: color(var(--yellow) alpha(25%));
}
.purple-base {
  background-color: color(var(--purple) alpha(25%));
}
.pink-base {
  background-color: color(var(--pink) alpha(25%));
}
.teal-base {
  background-color: color(var(--teal) alpha(25%));
}

.red {
  background-color: color(var(--red) saturation(65%));
}
.blue {
  background-color: color(var(--blue) saturation(65%));
}
.green {
  background-color: color(var(--green) saturation(65%));
}
.orange {
  background-color: color(var(--orange) saturation(65%));
}
.yellow {
  background-color: color(var(--yellow) saturation(65%));
}
.purple {
  background-color: color(var(--purple) saturation(65%));
}
.pink {
  background-color: color(var(--pink) saturation(65%));
}
.teal {
  background-color: color(var(--teal) saturation(65%));
}