@import "../../../colors.css";

.container {
  position: inherit;
}

.label {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  top: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 3.5rem;
  color: var(--black);
  user-select: none;
}

.button {
  font-size: 3.5rem;
  height: 100%;
  color: var(--black);
  opacity: .5;
  user-select: none;
  cursor: pointer;
}

.record-button {
  background-color: var(--clearRed);
}

.upload-button {
  background-color: var(--clearOrange);
}

.recycle-button {
  background-color: var(--clearGreen);
}

.generate-button {
  background-color: var(--clearBlue);
}

.duplicate-button {
  background-color: var(--black);
  color: var(--white);
}