@import "../../../styles/colors.css";
@import "../../../styles/breakpoints.css";

.card {
  color: var(--black);
  cursor: pointer;
  margin: 0 auto;
  max-width: 60rem;
  padding: 0;
  width: 100%;
  border-bottom: 1px solid var(--white);
  
  margin-bottom: 1px;
  overflow: hidden;
}

.card-container {
  height: 4rem;
}

.name {
  font-size: 50%;
  text-align: end;
  background: none;
  position: relative;
  right: 0;
  top: -1.7rem;
  height: 0;
}

.red-base {
  background-color: color(var(--red) alpha(25%));
}
.blue-base {
  background-color: color(var(--blue) alpha(25%));
}
.green-base {
  background-color: color(var(--green) alpha(25%));
}
.orange-base {
  background-color: color(var(--orange) alpha(25%));
}
.yellow-base {
  background-color: color(var(--yellow) alpha(25%));
}
.purple-base {
  background-color: color(var(--purple) alpha(25%));
}
.pink-base {
  background-color: color(var(--pink) alpha(25%));
}
.teal-base {
  background-color: color(var(--teal) alpha(25%));
}

.red {
  background-color: var(--red);
}
.blue {
  background-color: var(--blue);
}
.green {
  background-color: var(--green);
}
.orange {
  background-color: var(--orange);
}
.yellow {
  background-color: var(--yellow);
}
.purple {
  background-color: var(--purple);
}
.pink {
  background-color: var(--pink);
}
.teal {
  background-color: var(--teal);
}