@import "../../../shared/colors.css";

.container {
  text-align: center;
  animation: fadein .5s;
}

.not-supported-message {
  color: var(--black);
}

.blue-mask {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--clearBlue);
  opacity: .5;
  animation: maskFadein .2s;
  cursor: pointer;
}

.label {
  position: absolute;
  top: 20%;
  width: 100%;
  text-align: center;
  font-size: 3.5rem;
  color: var(--black);
  user-select: none;
}

.red-mask {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--clearRed);
  opacity: .5;
  animation: maskFadein .2s;
  cursor: pointer;
}

.retry-button {
  font-size: 3.5rem;
  color: var(--black);
  opacity: .5;
  background-color: var(--clearBlue);
  user-select: none;
  cursor: pointer;
}

.save-button {
  font-size: 3.5rem;
  color: var(--black);
  opacity: .5;
  background-color: var(--clearGreen);
  user-select: none;
  cursor: pointer;
}

@keyframes maskFadein {
    from { opacity: 0; }
    to   { opacity: .2; }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}